#foto{
    width: 200px;
    height: 60px;
    margin-left: -90px;
    align-self: center;
    flex-wrap: wrap;
    border: solid white;
    padding: 2px;
}
#shoppingbag{
    width: 70px;
}
#favourites{
    width: 50px;
    margin-top: 20px ;
}

.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
   }

#search{
    border-radius: 10px;
}

.headeri{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    height: 100px;
}
.favbag{
    display: flex;
    justify-content: space-between;
}
.favbag{
    display: flex;
    justify-content: space-between;
}

.dyqani{
    margin-top: 10px;
    border: solid black;
}
.navbar{
    display: block;

}
.WomanMan{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: larger;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: aliceblue;
    text-decoration: none;
    

}
.WomanMan a{
    text-decoration: none;
    color: aliceblue;
}

#W{
    background-image: url(images/Front/WOMAN.jpg) ;
    width: 45%;
    height: 700px;
}
#M{
    background-image: url(images/Front/MAN.JPG);
    width: 45%;
    height: 700px;
}

footer>div{
    background-color: black
}
.socials{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.socials a{
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: aliceblue;    
}
.ul1{
    list-style:"\00BB" ;
    padding-left: 0px;
}
.ul1 a{
    text-decoration: none;
    color: aliceblue;
}
.logo{
    align-self: center;
    display: flex;
    justify-content: center;
}
#logo{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border: solid aliceblue;
    margin-bottom: 20px;
    margin-left: 20px;
}

.woman{
    background-color: burlywood;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    padding-top: 10px;
    
}
.woman a{
    text-decoration: none;
    color: black;
}

.opsionet{
    background-color: antiquewhite;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    justify-content: space-around;
    padding: 5px;
  
}


.products{
    border: solid;
    margin-top: 10px ;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
   background-color: antiquewhite;


}
.products img{
   
   margin: 20px;
    width: 200px;
    height: 300px;
}
.products div{
    background-color: rgb(243, 243, 241);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

